
@import "variables.css";

#image-div {
    object-fit: cover;
}

.canvas {
    /*background-image: url(../assets/img8.jpg);*/
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.empty {
    pointer-events: none;
}

#canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;

}

#image-only {
    position: 50% 50%;
}